APP_NAME=MeubleTN
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=meubletn
DB_USERNAME=meubletn
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120

FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync

MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@meubletn.tn"
MAIL_FROM_NAME="MeubleTN"

# CORS: set to your frontend domain
SANCTUM_STATEFUL_DOMAINS=localhost:3000
